.header {
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--purple);
    justify-content: center;
    z-index: 15;

    &__container {
        display: flex;
        width: 100%;
        max-width: 1116px;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
    }

    &__burger-menu_button {
        position: relative;
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 23px;
        height: 16px;
        background-color: transparent;
        z-index: 1000;
        transition: 0.3s ease;
        z-index: 1000;

        .burger-menu_lines {
            display: flex;
            align-items: center;
          width: 100%;
          height: 2px;
          background-color: white;
        }
        
        &::before {
          content: "";
          position: absolute;
          display: flex;
          align-self: center;
          width: 100%;
          height: 2px;
          background-color: white;
          top: 1px;
          transition: 0.3s ease;
        }
        
        &::after {
          content: "";
          position: absolute;
          display: flex;
          align-self: center;
          width: 100%;
          height: 2px;
          background-color: white;
          bottom: 1px;
          transition: 0.3s ease;
        }
        
    }
    .active {
        position: relative;
        transition: 0.3s ease;
        .burger-menu_lines {
            transform: scale(0);
        }
        &::after {
            transform: rotate(35deg);
            top: 0;
            bottom: 0px;
            transition: 0.3s ease;
        }
        &::before {
            transform: rotate(-35deg);
            bottom: 0px;
            transition: 0.3s ease;
        }
    }

    &__logo {
        font-family: 'Ubuntu-Bold';
        color: var(--white);
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    &__navigation {
        ul {
            font-family: 'Ubuntu-Bold';
            display: flex;
            align-items: center;
            gap: 40px;
            color: var(--white);
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            user-select: none;


            a {
                cursor: pointer;
                text-decoration: none;
                color: var(--white);
            }

            .search {
                cursor: pointer;
                input  {
                    display: none;
                }
            }
            
            .btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                color: var(--yellow);
                background-color: var(--backBtn);
                border-radius: 6px;
                border: 0;
                padding: 6px 13px;
                gap: 10px;
                font-family: 'Ubuntu-Bold';
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;

            }
        }
    }
}

@media (max-width:1920px) {
    .header {
        height: calc(50px + 50 * (100vw - 320px) / 1920);
    }
}

@media (max-width:1040px) {
    .header {
        &__logo {
            display: none;
        }
        &__burger-menu_button {
            display: flex;
        }
    }
}

@media (max-width:530px) {
    .header__navigation ul a {
        display: none;
    }
    .header__navigation ul .search {
        display: none;
    }
    .header__navigation ul .btn p {
        display: none;
    }
    .header__navigation ul .btn {
        background: transparent;
    }
}