.app-wrapper {
    display: grid;
    width: 100%;
    justify-content: center;

    grid-template-columns: 270px auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "navbar content"
    "navbar content";

    padding: 0 20px;
    box-sizing: border-box;
    margin: 30px 0 28px;
}

.backgroundBalls {
    user-select: none;
    position: absolute;
    pointer-events: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width:1840px) {
    .app-wrapper {
        display: flex;
    }
    .backgroundBalls {
        display: none;
    }
}

@media (max-width:1040px) {
    .app-wrapper {
        display: flex;
    }
}